[DEFAULT]
GPTAPI_TOKEN = sk-proj-XXX
NOTION_API_TOKEN = ntn_XX
DATABASE_ID = XXX
NOTION_VERSION = 20XX-XX-XX


[PRIVATE]
GPTAPI_TOKEN = sk-proj-XXX
NOTION_API_TOKEN = ntn_XX
DATABASE_ID = XXX
NOTION_VERSION = 20XX-XX-XX