[
    {
      "リード獲得日": "2025/03/20 04:03",
      "タグ": "サンプルDXPO 地域A",
      "担当": "担当者A",
      "商談メモ": "",
      "業種": "通信サービス業",
      "部署": "人事・労務",
      "役職区分": "一般社員・一般職員",
      "会社名": "サンプル通信株式会社",
      "正式部署名": "総務人事部",
      "役職": "主査",
      "担当者氏名": "山田 花子",
      "郵便番号": "123-4567",
      "都道府県": "東京都",
      "住所": "東京都中央区1-1-1",
      "電話番号": "03-1111-2222",
      "E-mail": "hanako.yamada@example.com"
    },
    {
      "リード獲得日": "2025/03/20 04:03",
      "タグ": "サンプルDXPO 地域A",
      "担当": "担当者B",
      "商談メモ": "",
      "業種": "製造業",
      "部署": "情報システム・ITインフラ",
      "役職区分": "主任（サブリーダー）",
      "会社名": "サンプル製造株式会社",
      "正式部署名": "国内システム部",
      "役職": "なし",
      "担当者氏名": "佐藤 次郎",
      "郵便番号": "234-5678",
      "都道府県": "大阪府",
      "住所": "大阪府大阪市北区2-2-2",
      "電話番号": "06-2222-3333",
      "E-mail": "jiro.sato@example.com"
    },
    {
      "リード獲得日": "2025/03/20 04:02",
      "タグ": "サンプルDXPO 地域A",
      "担当": "",
      "商談メモ": "",
      "業種": "不動産業，物品賃貸業",
      "部署": "経営",
      "役職区分": "課長（マネージャー・グループ長・管理者）",
      "会社名": "サンプル商事株式会社",
      "正式部署名": "なし",
      "役職": "なし",
      "担当者氏名": "鈴木 一郎",
      "郵便番号": "345-6789",
      "都道府県": "愛知県",
      "住所": "名古屋市中区3-3-3",
      "電話番号": "052-3333-4444",
      "E-mail": "ichiro.suzuki@example.com"
    }
  ]
  